{% extends "shared/layout.tmpl" %}

{% block title %}scitani {% endblock %}

{% block content %}
  <h2>Output</h2>
  <h3>Price of: {{hod1 }}</h3><br>
  <p>{{hod5}} Kč = {{hod3 }} Kč * {{hod4 }}% * {{hod2 }} Ks</p>
{% endblock %}