{% extends "shared/layout.tmpl" %}

{% block title %}scitani {% endblock %}

{% block content %}
  <h3>insert</h3>
  <div class="form-group">Type in the email address you used when signing up and we'll send you a link to reset your password.</div>
    {{hod1 }}
    {{hod2 }}
    {{suma }}
{% endblock %}
