{% from "macros/fields.tmpl" import render_input_field,render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Forgotten password{% endblock %}

{% block content %}
  <h3>insert</h3>
  <div class="form-group">Type in the email address you used when signing up and we'll send you a link to reset your password.</div>
  <form method="POST" id='insert-form'>
    {{ form.hidden_tag() }}
    {{ render_checkbox_field(form.typ) }}
    {{ render_submit() }}
  </form>
{% endblock %}
